/*------------------------------------------------------------------------ colors ------------------------------------------------------------------------*/

$color-cream: #f2dcb3; /* hex */
$color-red: #d9042b; /* hex */
$color-lightblue: #77b3d9; /* hex */
$color-greyblue: #e5f2f9; /* hex */
$color-darkblue: #1a3073; /* hex */

$bg-cream: rgba($color-cream, 1);
$bg-red: rgba($color-red, 1);
$bg-lightblue: rgba($color-lightblue, 1);
$bg-greyblue: rgba($color-greyblue, 1);
$bg-darkblue: rgba($color-darkblue, 1);

/*------------------------------------------------------------------------ end colors ------------------------------------------------------------------------*/

/*------------------------------------------------------------------------ content ------------------------------------------------------------------------*/

.asection {
  position: relative;
  overflow: hidden;
}

.hero,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  background-color: #c7e2f3;
  color: #1a3073;
}

.hero h1,
.outro .h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.stickycards {
}

.card {
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  will-change: transform;
  width: 500px;
  height: 340px;
  margin-top: 100px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 0.75rem;
  background-color: #c7e2f3;
  color: #000000;
}

.cardimg {
  flex: 1 1 0;
  min-height: 0;
  width: 100%;
}

.cardcontent {
  flex: 0 0 12px;
  display: flex;
  align-items: center;
  margin-top: 0em;
}
.contentquote {
  color: #000000;
  line-height: 0.2em;
  margin-top: 0.7em;
}

.contentbodytext {
  color: #000000;
  margin-top: 0em;
}

.cardcontent p {
  text-transform: uppercase;
  font-family: "";
  font-size: 12px;
}

@media (max-width: 900px) {
  .card {
    width: 75%;
  }
}

/*------------------------------------------------------------------------ end content ------------------------------------------------------------------------*/

/*------------------------------------------------------------------------ media queries --------------------------------------------------------------------------*/

//safari
@supports (contain: paint) and (not (-moz-appearance: none)) {
  .card {
    left: calc(50% - 225px);
  }
}

@media only screen and (max-width: 480px) and (hover: none) and (pointer: coarse) {
  .card {
    left: 50%;
  }
}

/*------------------------------------------------------------------------ end media queries -----------------------------------------------------------------------*/
